<!-- Create Message Form -->
<%= form_for [event,ticket], html: { class: "form-horizontal" } do |f| %>

                    <!-- display validation errors -->
                    <% if @ticket.errors.present? %>
                      <div class="alert alert-danger">
                        <% @ticket.errors.messages.each do |key, value| %>
                          <ul>
                            <li>
                              <strong><%= key %></strong>: <%= value.to_sentence %>
                            </li>
                          </ul>
                        <% end %>
                      </div>
                    <% end %>

                    <!-- BUYER ID -->
                    <%= f.hidden_field :buyer_id, value: current_user.id %>

                    <!-- NAME -->
                    <div class="form-group">
                      <div class="col-lg-3">
                        <%= f.label :name %>
                      </div>
                      <div class="col-lg-9">
                        <strong><%= current_user.name %></strong>
                      </div>
                    </div>

                    <!-- Email -->
                    <div class="form-group">
                      <div class="col-lg-3">
                        <%= f.label :email %>
                      </div>
                      <div class="col-lg-9">
                        <strong><%= current_user.email %></strong>
                      </div>
                    </div>


                    <!-- TICKET TYPE -->
                    <div class="form-group">
                      <div class="col-lg-3">
                        <%= f.label :ticket_type %>
                      </div>
                      <div class="col-lg-9">
                        <%= f.collection_select(:ticket_type_id, @event.ticket_types, :id, :name, {:prompt=>true}, {:class=>'form-control'}) %>
                      </div>
                    </div>

                    <!-- PRICE PER TICKET -->
                    <div class="form-group">
                      <div class="col-lg-3">
                        <%= f.label :price_per_ticket %>
                      </div>
                      <div class="col-lg-9">
                        <span class="js-ticket-price"></span>
                      </div>
                    </div>

                    <!-- QUANITY -->
                    <div class="form-group">
                      <div class="col-lg-3">
                        <%= f.label :quantity %>
                      </div>
                      <div class="col-lg-9">
                        <%= f.select :quantity, options_for_select(0..10, 1), class: 'form-control' %>
                      </div>
                    </div>

                    <!-- TOTAL PRICE -->
                    <div class="form-group">
                      <div class="col-lg-3">
                        <%= f.label :total_price %>
                      </div>
                      <div class="col-lg-9">
                        <span class="js-total-price"></span>
                      </div>
                    </div>


                    <div class="form-group">
                      <div class="col-lg-3"></div>
                      <div class="col-lg-9">
                        <%= f.submit "Add to my account", class: 'btn btn-primary' %>
                        &nbsp;
                        <%= link_to "Cancel", event_path(@event), class: 'btn btn-secondary' %>
                      </div>
                    </div>

<% end %>
