<div class="container-fluid tickets-buy">
  <div class="row tickets-header">
    <div class="col-xs-12 col-md-11 col-md-offset-1">
      <h3> <%= @event.name %> </h3>
      <div class="pull-left">
        <%= fa_icon 'map-marker' %>
      </div>
      <div class="venue-details">
       <%= @event.venue.name %>
       <br/>
       <%= @event.venue.full_address %>
      </div>

      <div class="pull-left">
        <%= fa_icon 'clock-o' %>
      </div>
      <div class="time-details">
        <%= @event.starts_at.strftime('%A, %d %b %Y %l:%M %p') %>
      </div>


    </div>
  </div>

  <div class="row">

    <div class="col-sm-2"></div>
    <div class="col-sm-8">

    <br>
    <h1>Create Event</h1>
    <br>&nbsp;

    <%= render 'form' %>

    </div>
    <div class="col-sm-2"></div>

  </div>
</div>

