<!DOCTYPE html>
<html>
<head>
  <title>Coder Ticket</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <!-- NAVBAR -->
  <%= render 'layouts/navbar' %>

  <!-- FLASH MESSAGES -->
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <!-- DEFAULT FLASH -->
        <% if flash.any? %>
          <% flash.each do |key, value| %>
            <div class="alert alert-<%= key %>">
              <%= value %>
            </div>
          <% end %>
        <% end %>

        <!-- DEVISE FLASH -->
        <% if notice %>
        <div class="alert alert-info">
          <%= notice %>
        </div>
        <% end %>
        <% if alert %>
        <div class="alert alert-danger">
          <%= alert %>
        </div>
        <% end %>
      </div>
    </div>
  </div>

  <!-- BODY -->
  <div class="flex-container">
    <%= yield %>
  </div>

</body>
</html>
