<!DOCTYPE html>
<html>
<head>
  <title>CsTemplate</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>


  <!-- NAVBAR -->
  <nav class="navbar navbar-fixed-top navbar-dark bg-inverse">
    <a class="navbar-brand" href="<%= root_path %>">Coder Ticket</a>
    <ul class="nav navbar-nav">

      <% if user_signed_in? %>
        <li class="nav-item">
          <%= link_to 'Logout', destroy_user_session_path, method: 'delete', class: "nav-link" %>
        </li>
      <% else %>
        <li class="nav-item">
          <%= link_to 'Login', new_user_session_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to 'Register', new_user_registration_path, class: "nav-link" %>
        </li>
      <% end %>

    </ul>
  </nav>
  <div class="spacer" style="height: 54px"></div>

  <!-- FLASH MESSAGES -->

    <!-- Main Header (alerts and branding) -->
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <% if notice %>
          <div class="alert alert-info">
            <%= notice %>
          </div>
          <% end %>
          <% if alert %>
          <div class="alert alert-danger">
            <%= alert %>
          </div>
          <% end %>
        </div>
      </div>
    </div>

<%= yield %>

</body>
</html>
